<!DOCTYPE html>
<html lang="en" class="h-100">
  <%- include('../includes/head.ejs') %>
  <body class="d-flex flex-column h-100">
    <%- include('../includes/header.ejs') %>
    <main class="row p-3">
      <div class="col-md-10 col-lg-8 mx-auto pt-3">

        <form method="POST" action="/reset">
          <div class="mb-3">
            <label for="email" class="form-label text-white">E-mail</label>
            <% if (errorMessage) { %>
              <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                <%=errorMessage %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
            <input
              class="form-control <%= previousInvalidInput ? 'invalid' : '' %>"
              type="email"
              id="email"
              name="email"
              value="<%= previousInvalidInput %>"
              required
            >
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-light px-4 fw-bolder">
              Reset Password!
            </button>
          </div>
        </form>

      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </body>
</html>
